<style>
.homepage{
    font-size:2vw;
    text-decoration:none;
    color:white;
}
.btn{
    height:10vh;
    width:10vw;
}
</style>

<div>
<ul style="display:flex;justify-content:space-evenly;width:60vw">
     <a class="homepage" asp-area="" asp-controller="User" asp-action="Login">
    <button class="btn btn-primary">
       Login
    </button>
    </a>
    <a class="homepage" asp-area="" asp-controller="User" asp-action="Signup">
    <button class="btn btn-primary">
        Signup
    </button>
    </a>
</ul>
</div>